<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SRC Travel Agencies</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/assets/img/logo2.png" rel="icon">
  <link href="~/assets/img/logo2.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="~/assets/css/style.css" rel="stylesheet">
  <link href="~/assets/css/style1.css" rel="stylesheet">
@*  <link href="~/assets/css/style2.css" rel="stylesheet">
  <link href="~/assets/css/style3.css" rel="stylesheet">*@
 <style>




 </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between"> -->

 
     
      <header id="header" class="fixed-top background header-inner-pages">


        <nav id="navbar" class="navbar">
    
          <ul style="margin: auto;">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Home">About</a></li>
            <li><a asp-action="Index" asp-controller="Home">Services</a></li> 
    
    
        @*<img class="logo hide2" height="100" style="margin-left: 35px !important; " src="~/assets/img/logo1.png">*@
        <img class="logo hide2" height="100" style="margin-left: 35px !important; " src="~/assets/img/p1.png">
    
            <li><a asp-action="Index" asp-controller="Home">Contact</a></li>
            <li><a class="nav-link scrollto" asp-action="Feedback" asp-controller="Home">Feedback</a></li>  
           
            
             @{
                
                if (context.HttpContext.Session.GetString("Role") == "User")                
                    {
        <li class="dropdown" style="list-style-type: none;"><a href="#"><span>Hi, @context.HttpContext.Session.GetString("Name")</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
              <li> <a href="#"><p class="h6" ><b>@context.HttpContext.Session.GetString("Name")</b></p></a></li>               
              <hr class="style8">
              <li>
                <a asp-action="Profile" asp-controller="SuperAdmin">  <div class="text-left">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
                </div></a>
              </li>
  
              <li>
                <a href="#">  
                <div class="text-left">
                  <i class="bi bi-person"></i>
                  <span>Booked Tickets</span>
                </div></a>
              </li>
  
              <li>
                <a href="#">  
                <div class="text-left">
                  <i class="bi bi-person"></i>
                  <span>Tickets History</span>
                </div></a>
              </li>
  
              <li>
                <a asp-action="Logout" asp-controller="Home">  
                <div class="text-left">
                  <i class="bi bi-person"></i>
                  <span>Sign Out</span>
                </div></a>
              </li>
            </ul> 
                    </li>
                }
                else if (context.HttpContext.Session.GetString("Role") == null) 
                {
                  <li><a asp-action="Login" asp-controller="Home">Sign in&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;Register ?</a></li>     
                }
  }

          </ul>
    
       @*<img class="logo hide" height="80" style="margin-left: 25px;" src="~/assets/img/logo1.png"></a>*@
      <img class="logo hide" height="50" style="margin-left: 25px;" src="~/assets/img/p1.png"></a> 
    
          <div class="float hide">
    
            <i class="float d-lg-none bi bi-list mobile-nav-toggle mt-2"></i>
    
           
    
          </div>
    
        </nav>
     
      </header> 

  <main id="main" style="margin-top: 140px !important;">


       @RenderBody()


  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>SRC<span>.</span></h3>
            <p>
              UBIT, Karachi, Pakistan<br>
              <strong>Phone:</strong> +92 325-0000054<br>
              <strong>Email:</strong> SRC@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Index" asp-controller="Home">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Index" asp-controller="Home">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Index" asp-controller="Home">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Feedback" asp-controller="Home">Feedback</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Express" asp-controller="Services">Express</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="Luxury" asp-controller="Services">Luxury</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="VolvoAC" asp-controller="Services">Volvo (A/C)</a></li>
            <li><i class="bx bx-chevron-right"></i> <a asp-action="VolvoNonAC" asp-controller="Services">Volvo (Non A/C)</a></li>              
          </ul>
        </div>
<!-- 
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div> -->

      </div>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>SRC</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="#">Muhammad Annas Raza</a>
    </div>
  </div>
</footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="~/assets/vendor/aos/aos.js"></script>
  <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/assets/vendor/php-email-form/validate.js"></script>
 
  
  <!-- Keep Script files in this order is Must-->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- Keep Script files in this order is Must-->




  <script src="~/assets/js/main.js"></script>
  <script src="~/assets/js/one.js"></script>

</body>

</html>



