@model tbl_user

@{
    Layout = "~/Views/Shared/_BusOwnerLayout.cshtml";
}

  <div class="pagetitle">
    <h1>Add Conductor</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="BusOwner">Home</a></li>
        <li class="breadcrumb-item">Add Conductor</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

      <form asp-action="AddConductor" asp-controller="BusOwner" method="post">
  <section class="section">  
  <div class="card">
    <div class="card-body">
     
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Conductor Name</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input required type="text" class="form-control" asp-for="user_name">
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Conductor Phone Number</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input required type="text" class="form-control" asp-for="user_email_phone">
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Conductor Password</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input required type="password" class="form-control mypas" asp-for="user_password">
                  </div>
              </div>

              
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="chkbox form-check-input" type="checkbox"
                                                   name="remember"
                                                   value="true" id="rememberMe">
                                            <label class="form-check-label"
                                                   for="showpassword">show password?</label>
                                        </div>
                                    </div>

      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Number Plate</b></label>
                  <div class="col-md-8 col-lg-9">
                   
                      <select asp-for="bus_NumberPlateForConductor" class="form-select" asp-items="ViewBag.busesNumberPlateList">
                            <option value="" >-- Select Bus Number --</option>
                      </select>

                  </div>
              </div>

      <button  type="submit" class="button" style="font-size: 20px;"> <i class='bx bx-plus'><span>Add</span></i></button>
      <!-- End Bordered Table -->

      <div class="text-success h3 p-3">@TempData["msg4"]</div>
      <div class="text-danger h3 p-3">@TempData["msg5"]</div>      
     </div>
</div>

</section>
</form>





















 