@model OnlineBusTicketReservationSystem.Models.tbl_bus

@{
    ViewData["Title"] = "EditBusDetails";
    Layout = "~/Views/Shared/_ConductorLayout.cshtml";
}
@*
<h1>EditBusDetails</h1>

<h4>tbl_bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBusDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="bus_id" class="control-label"></label>
                <input asp-for="bus_id" hidden class="form-control" />
                <span asp-validation-for="bus_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_NumberPlate" class="control-label"></label>
                <input asp-for="bus_NumberPlate" disabled class="form-control" />
                <span asp-validation-for="bus_NumberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_ticketPrice" class="control-label"></label>
                <input disabled asp-for="bus_ticketPrice" class="form-control" />
                <span asp-validation-for="bus_ticketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_noOfSeats" class="control-label"></label>
                <input disabled asp-for="bus_noOfSeats" class="form-control" />
                <span asp-validation-for="bus_noOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_category" class="control-label"></label>
                <input disabled asp-for="bus_category" class="form-control" />
                <span asp-validation-for="bus_category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_startingTime" class="control-label"></label>
                <input asp-for="bus_startingTime" class="form-control" />
                <span asp-validation-for="bus_startingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bus_destination" class="control-label"></label>
                <input asp-for="bus_destination" class="form-control" />
                <span asp-validation-for="bus_destination" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bus_available" /> @Html.DisplayNameFor(model => model.bus_available)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Created_at" class="control-label"></label>
                <input asp-for="Created_at" hidden class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fk_user_id" class="control-label"></label>
                <input hidden asp-for="fk_user_id" class="form-control" />
                <span asp-validation-for="fk_user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



*@

  <div class="pagetitle">
    <h1>Edit Bus Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Conductor">Home</a></li>
        <li class="breadcrumb-item">Edit Bus Details</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <form asp-action="EditBusDetails" asp-controller="Conductor" method="post">
  <section class="section">  
  <div class="card">
    <div class="card-body">
      <input hidden asp-for="bus_id" class="form-control" />
      <input hidden asp-for="Created_at" class="form-control" />
      <input hidden asp-for="fk_user_id" class="form-control" />
      <input hidden asp-for="bus_NumberPlate" class="form-control" />
<input hidden asp-for="bus_ticketPrice" class="form-control" />
<input hidden asp-for="bus_noOfSeats" class="form-control" />
<input hidden asp-for="bus_category" class="form-control" />

      <div class="row mb-3 mt-5">
                 
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Number Plate</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input asp-for="bus_NumberPlate" disabled class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Ticket Price</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input disabled asp-for="bus_ticketPrice" class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus No. of Seats</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input disabled asp-for="bus_noOfSeats" class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Category</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input disabled asp-for="bus_category" class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Starting Time</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input asp-for="bus_startingTime" class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><b>Bus Destination</b></label>
                  <div class="col-md-8 col-lg-9">
                      <input asp-for="bus_destination" class="form-control" />
                  </div>
              </div>
      <div class="row mb-3 mt-5">                 
                  <div class="col-md-8 col-lg-9">
                     <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bus_available" /> <label><b>bus Available ?</b></label>
                </label>
            </div>
                  </div>
              </div>
               
 

      <button  type="submit" class="button" style="font-size: 20px;"><span>Update</span></button>
      <!-- End Bordered Table -->

      <div class="text-success h3 p-3">@TempData["msg11"]</div>
      <div class="text-danger h3 p-3">@TempData["msg12"]</div>      
     </div>
</div>

</section>
</form>





















 





 

